.me {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

h1,p {
  color: #2d3c49;
  font-family:"微软雅黑";
}

hr,.title {
  color: #7d97ad;
}

html,body,main {
  width: 100%;
  height: 100%;
}

header,.main,nav,h1 {
  margin: 10px 10px 15px 10px;
}
